# 1
You are given three integers  x,y and  z, representing the dimensions of a cuboid along with an integer n . Print a list of all possible coordinates given by (i,j,k)  on a 3D grid where the sum of i+j+k is not equal to n . Here, 0<=i<=x<=j<=y;0<=k<=z. Please use list comprehensions rather than multiple loops, as a learning exercise.

In [3]:
x=int(input())
y=int(input())
z=int(input())
n=int(input())
cordinates=[[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if i+j+k!=n ]
print(cordinates)

2
2
2
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

# 2
Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line

In [10]:
n=int(input())
students=[]
for i in range(n):
    name=input()
    grade=float(input())
    students.append([name,grade])
grades=set([students[1] for students in students])
second_lowestgrade=sorted(grades)[1]
name=[students[0] for students in students if students[1]==second_lowestgrade]
name.sort()

for name in name:
    print(name)

4
shah
21
siod
44
ashd
22
shld
11
shah

#  3
The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

In [14]:
# Read in the dictionary of student data
n = int(input())
student_marks = {}
for i in range(n):
    name, *marks = input().split()
    marks = list(map(float, marks))
    student_marks[name] = marks

# Prompt the user for a student name
query_name = input()

# Calculate the average marks for the student
marks = student_marks[query_name]
average_marks = sum(marks) / len(marks)

# Print the average marks with 2 decimal places
print("{:.2f}".format(average_marks))

3
krishna 67 78 89
abhilash 87 89 76
shahper 76 87 99
shahper
87.33

# 4
Consider a list (list = []). You can perform the following commands:

insert i e: Insert integer e at position i .
print: Print the list.
remove e: Delete the first occurrence of integer  e.
append e: Insert integer e  at the end of the list.
sort: Sort the list.
pop: Pop the last element from the list.
reverse: Reverse the list.
Initialize your list and read in the value of  n followed by n  lines of commands where each command will be of the  types listed above. Iterate through each command in order and perform the corresponding operation on your list

In [5]:
lst=[]
n=int(input().strip())
for i in range(n):
    cmnd=input().strip().split()
    if cmnd[0]=="insert":
        lst.insert(int(cmnd[1]),int(cmnd[2]))
    elif cmnd[0]=="print":
        print(lst)
    elif cmnd[0]=="remove":
        lst.remove(int(cmnd[1]))
    elif cmnd[0]=="append":
        lst.append(int(cmnd[1]))
    elif cmnd[0]=="sort":
        lst.sort()
    elif cmnd[0]=="pop":
        lst.pop()
    elif cmnd[0]=="reverse":
        lst.reverse()

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append1
sort
print
[5, 9, 10]
pop
reverse
print
[9, 5]

# 5
Given an integer,n , and  n  space-separated integers as input, create a tuple,t , of those n integers. Then compute and print the result of .hash(t)

In [7]:
n = int(input())
integer_list = map(int, input().split())
t=tuple(map(int,integer_list))
print(hash(t))

1
2
6909455589863252355

In [9]:
# Sets Problem
def average(array):
    return sum(set(array))/len(set(array))



n = int(input())
arr = list(map(int, input().split()))
result = average(arr)
print(result)

5
25 26 27 25 87
41.25

# 6

In [1]:
n, m = input().split()

sc_ar = input().split()

A = set(input().split())
B = set(input().split())
print(sum([(i in A) - (i in B) for i in sc_ar]))

3 2
1 5 3
3 1
5 7
1

# 7

In [2]:

a,b = [set(input().split()) for _ in range(4)][1::2]
print('\n'.join(sorted(a^b, key=int)))

4
2 4 5 9
4
2 4 11 12
5
9
11
12

# 8

In [4]:
a = set()
[a.add(input()) for i in range(int(input()))]
print(len(a))

7
UK
USA
INDIA
UK
USA
BRAZIL
COMBODIA
5

# 9

In [7]:
num = int(input())
data = set(map(int, input().split()))
operations = int(input())

for x in range(operations):
  oper = input().split()
  if oper[0] == "remove":
    data.remove(int(oper[1]))
  elif oper[0] == "discard":
    data.discard(int(oper[1]))
  else:
    data.pop()
    
print(sum(data))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

# 10

In [8]:
n = int(input())
A = set(map(int, input().split()))
m = int(input())
B = set(map(int, input().split()))

ans = A.union(B)
print(len(ans))

9
123456789
9
10 1 2 3 11 21 45 21 1
8

# 11

In [9]:
n1=input()
li1 = input().split()
s1 = set(li1)
n2=input()
li2 = input().split()
s2 = set(li2)
s1s2 = s1.intersection(s2)
print(len(s1s2))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 23 34 9
4

# 12

In [10]:

n1=input()
li1 = input().split()
s1 = set(li1)
n2=input()
li2 = input().split()
s2 = set(li2)
s1s2 = s1.difference(s2)
print(len(s1s2))

4
1 2 3 4
4
4 3 8 6
2

# 13

In [11]:
for i in range(int(input())): 
    a = int(input()); A = set(input().split()) 
    b = int(input()); B = set(input().split())
    if(len(A.difference(B))==0):
        print("True")
    else:
        print("False")

3
5
1 2 3 4 5 6
9
1 2 3 4 5 6 7 8 9
True
1
2
5
3 6 5 4 1
False
7
1 2 3 4 5 6 7 8 9
3
9 8 2
False

# 14

In [12]:
n1=input()
li1 = input().split()
s1 = set(li1)
n2=input()
li2 = input().split()
s2 = set(li2)
s1s2 = s1.symmetric_difference(s2)
print(len(s1s2))

5
1 2 3 4 5
5
5 4 3 2 1
0

# 15

In [13]:
k,arr = int(input()),list(map(int, input().split()))

myset = set(arr)

print(((sum(myset)*k)-(sum(arr)))//(k-1))

4
1 2 3 4 4 55 6 6
67